body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
}
#game-container {
  max-width: 800px;
  margin: 0 auto;
}
#first-row,
#third-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#second-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

#title {
  padding-left: 50px;
}

#score,
#mutiplier-container {
  font-size: 1.5em;
}

#cookie-container img {
  width: 200px;
  cursor: pointer;
}

#bonuses-container li {
  list-style-type: none;
  padding: 0;
}

#bonuses-container li {
  margin: 10px 0;
}

#bonuses-container button {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}
